{% block content %}
    <div class="row">
        <div class="col-md-12">
            {#{{ form_start(form, {'attr': {'id': 'add_user_form'}}) }}#}
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascript %}
{% endblock %}
