{% extends 'admin/login/layout.twig' %}
{% block content %}

        {{ form_start(form) }}
        <h2 class="form-signin-heading">{{ app.translator.trans('Please Sign In') }}</h2>
        {{ form_errors(form) }}
        {{ form_widget(form.username) }}
        <div class="errors">{{ form_errors(form.username) }}</div>
        {{ form_widget(form.password) }}
        <div class="errors">{{ form_errors(form.password) }}</div>
        <div class="checkbox">
            <label>
                {{ form_widget(form.remember_me) }}
                {{ form_label(form.remember_me) }}
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">{{ app.translator.trans('Sign In') }}</button>
        {{ form_end(form) }}
{% endblock %}
