{% extends 'admin/layout.twig' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>Roles</h2>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Users</th>
                    <th width="20"><a href="/admin/permissions/add-role" class="btn btn-success add-role fa fa-plus">Add
                            New Role</a></th>
                </tr>
                </thead>
                <tbody>
                {% for role in roles %}
                    <tr>
                        <td>{{ role.name }}</td>
                        <td>{{ role.active_count }} / {{ role.inactive_count }}</td>
                        <td>
                            <a class="fa fa-edit btn-primary btn edit-role" href="#"></a>
                            <a class="fa fa-trash-o btn-danger btn delete-role"
                               href="/admin/permissions/delete-role/{{ role.id }}"></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="" method="post">
                <div class="form-filters form-horizontal">
                    <div class="pull-left col-md-6">
                        <h2>Privileges</h2>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="find" class="control-label col-md-4">Filter</label>
                        <div class="col-sm-8">
                            <input type="text" name="find" id="find" class="form-control"/>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-striped privilege-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        {% for role in roles %}
                            <th>{{ role.name }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% set lastResource = null %}
                    {% for permission in permissions %}
                        {% if permission.resourceName != lastResource %}
                            {% set lastResource = permission.resourceName %}
                            <tr>
                                <th class="role-name" colspan="{{ roles|length+1 }}">{{ lastResource }}</th>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>{{ permission.name }}</td>
                            {% for role in roles %}
                                <td><input type="checkbox" value="1"
                                           name="permissions[{{ permission.resource }}][{{ permission.action }}][{{ role.id }}]"
                                           {% if is_role_allowed(permission.resource, permission.action, role.name) %}checked{% endif %}/>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary">Save Permissions</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="/themes/core/admin/js/permissions.js"></script>
{% endblock %}
