{% extends 'admin/layout.twig' %}
{% block content %}
    <div class="row">
        <div class="page-header">
            <h1>{{ app.translator.trans('Categories') }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="cat-tree col-md-4">
            <ul>
                {% for category in categories %}
                    <li><a href="/admin/categories/{{ category.id }}">{{ category.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-8">
            <h2>{{ title }}</h2>
            <div role="tabpanel">

                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation">
                        <a href="#" data-toggle="tab" role="tab">Basic Information</a>
                    </li>
                    <li role="presentation"><a href="#">Profile</a></li>
                    <li role="presentation"><a href="#">Messages</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="basic">

                    </div>
                </div>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-default">Add Category</button>
            {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}